.imageStyle {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease;
}

.smallImage {
    width: 30%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease;
}
